@import "mixin";
@import "variable";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// operator scss
html{
    font-size: 50%;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f4f4f4;
  font-family: Arial, sans-serif;
}

.experience-container {
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
}
.experience-container-headings{
    display: flex;
     flex-direction: column;
     align-items: center;
h1{
    font-size: $tx-fn;
    color: violet;
}

p{
    font-size: $tx-fn;
    color: teal;
}
}
button {
  padding: 14px 28px;
  border: none;
  border-radius: 12px;
  font-size: 2rem+2rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
  color: white;
}

.good-experience-button button {
  background: #28a745;

  &:hover{
  background: #218838;
  @include hover-effert;
  }
}

.bad-experience-button button {
  background: #dc3545;

  &:hover{
    background: #c82333;
  @include hover-effert;
  }
}
